.contact {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minMax(45rem, 1fr));
    grid-column-gap: $s-size;

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: minMax(35rem, 1fr);
    }

    &__left {
        padding: $xl-size;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        @media only screen and (max-width: $bp-medium) {
            padding: $m-size;
        }

        @media only screen and (max-width: $bp-small) {
            padding: $s-size;
        }
    }

    &__title {
        font-size: 4rem;
        font-weight: normal;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__wrapper {
        border: 1px solid black;
        padding: $l-size $xl-size;
    }

    &__icons {
        display: flex;
        width: 30%;
        justify-content: center;

        @media only screen and (max-width: $bp-medium) {
            margin: 0 auto;
        }
    }

    &__icon-box {
        height: 5rem;
        width: 5rem;
        display: inline-block;
        
        & svg {
            height: 100%;
            width: 100%;
            color: $color-medium-pink;
            transition: all .2s;

            &:hover {
                color: $color-bright-pink;
                transform: scale(1.1);
            }
        }
    }

    &__img-box {
        @media only screen and (max-width: $bp-medium) {
            height: 25rem;

            & img {
                height: 100%;
                width: auto;
            }
        }
    }

    &__social {
        display: flex;

        @media only screen and (max-width: $bp-medium) {
            flex-direction: column;
        }
    }
}