.container {
    padding: $xl-size;

    @media screen and (max-width: $bp-medium) {
        padding: $l-size;
    }

    @media screen and (max-width: $bp-small) {
        padding: $m-size;
    }
}

.banner {
    min-height: calc(100vh - 12rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-size: 6rem;
        letter-spacing: 1.5rem;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: $font-size-large;
        letter-spacing: 1.1rem;
    }

    &__img-box {
        height: 25rem;
    }

    &__img {
        height: 100%;
        width: auto;
    }
}

.section-services {
    background: url('../../assets/HomePage/wave.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: $color-light-grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media only screen and (max-width: $bp-large) {
        background: none;
        background-color: $color-light-grey;

        & h2 {
            color: $color-light-black;
            text-align: center;
        }
    } 
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(40rem, 1fr));
    grid-column-gap: $s-size;

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
    }

    &__video {
        width: 90%;
        height: auto;
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-columns: repeat(auto-fit, minMax(35rem, 1fr));
    }
}

.section-web {
    min-height: 100vh;
}

.web {
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(40rem, 1fr));
    grid-column-gap: $s-size;
    height: 100%;

    &__title-box {
        border-left: 5px solid $color-medium-pink;
        padding-left: $xl-size;
        margin-top: $xl-size;

        &--right {
            border-left: none;
            border-right: 5px solid $color-light-purple;
            text-align: right;
            padding-right: $xl-size;
            padding-left: 0;
        }

        &--blue {
            border-left: 5px solid $color-medium-blue;
        }
    }

    &__content-box {
        padding: 0 $xl-size;
        margin-bottom: $xl-size;

        &--right {
            text-align: right;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }
}