@import './settings';
@import './mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    color: $color-light-grey;
    line-height: 1.6;
    font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    font-size: $font-size-default;
}

p {
    font-size: $font-size-small;
}

html {
    font-size: 68%;
    @media only screen and (max-width: $bp-medium) {
        font-size: 62%;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 56%;
    }
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;   
}