.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 105;

    &__body {
        padding: $m-size $l-size;
        background-color: $color-light-grey;
        color: $color-light-black;
        border-radius: 10px;
        text-align: center;
        min-height: 50%;
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    &__close {
        height: 3rem !important;
        width: 3rem !important;
        display: inline-block;
        align-self: flex-end;
        color: $color-medium-blue;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}